
<footer class="page-footer blue-grey lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Built as a Capstone for a web developement course through PDX Code Guild! Check out their link on the left. For more information about the app or to contact my creator please contact Wesley Anding!</p>
        </div>
        <div class='col l6 s12'>
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://pdxcodeguild.com/">PDX Code Guild</a></li>
            <li><a class="white-text" href="https://wesleyanding.github.io/"></a>Wesley Anding - my creator!</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>