{% load static %}
<header>

    <nav class="blue-grey lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'behavtrackerapp:index' %}" class="brand-logo">
                <img src="{% static 'behav_tracker_app/pics/BTlogo.png' %}" alt="Behavior Tracker logo">
            </a>
            <ul class="right hide-on-med-and-down">
                {% if not request.user.is_anonymous %}
                <li><a href="{% url 'behavtrackerapp:newstudent' %}">Add a Student</a></li>
                <li><a href="{% url 'behavtrackerapp:viewstudents' %}" >View Students</a></li>
                <li><a href="{% url 'behavtrackerapp:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'behavtrackerapp:login' %}">Login</a></li>
                <li><a href="{% url 'behavtrackerapp:signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
    
            <ul id="nav-mobile" class="sidenav">
                {% if not request.user.is_anonymous %}
                <li><a href="{% url 'behavtrackerapp:logout' %}">Logout</a></li>
                <li><a href="{% url 'behavtrackerapp:newstudent' %}">Add a Student</a></li>
                <li><a href="{% url 'behavtrackerapp:viewstudents' %}" >View Students</a></li>  
                {% else %} 
                <li><a href="{% url 'behavtrackerapp:login' %}">Login</a></li>
                <li><a href="{% url 'behavtrackerapp:signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>
