   {% load static %}
    <script defer src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script defer src="{% static 'behav_tracker_app/js/materialize.js' %}"></script>
    <script defer src="{% static 'behav_tracker_app/js/init.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'behav_tracker_app/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'behav_tracker_app/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>