{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behavior Tracker</title>
    <script src="https://unpkg.com/vue@3"></script>
    {% include 'behav_tracker_app/_styles.html' %}
    <script defer src="{% static 'behav_tracker_app/app.js' %}"></script>
    
    <style>
        {box-sizing: border-box}

        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }
        
    </style>
</head>
<body>
    {% include 'behav_tracker_app/_navbar.html' %}
    <main>
        {% if not request.user.is_anonymous %}
        <div id="app">
            <div class='container'>
                <h4 class='header center blue-grey-text lighten-1-text'>Select a student to add a behavior</h4>
                <div v-for='teacher in teachers' v-bind:value='teacher.id' class='col s4 offset-s4 blue-grey-text lighten-1-text'>
                    <h5 class='header col s4 offset-s4 light'>[[teacher.name]]</h5>
                    <div>
                        <select v-model='selectedStudent' v-on:change='fetchStudents()' class="browser-default">
                            <option selected disabled >Select a student</option>
                            <option v-for='student in teacher.students' v-bind:value='student.id'>
                                [[student.name]]
                            </option>
                        </select>    
                    </div>
                    <div class='divider'></div>
    
                    <div class='form-popup' id='myForm' class='container'>
        
                        <form v-bind:action="'save_behav/'+ selectedStudent" class='form-container' method='POST'>
                            {% csrf_token %}
                            
                            <div class='input-field col s6'>
                                <label for="antecedent"><b>Antecedent</b></label>
                                <input type="text" placeholder='Enter Antecedent' name='antecedent'>
                            </div>
                            <div class='input-field col s6'>
                                <label for="behavior"><b>Behavior</b></label>
                                <input type="text" placeholder='Enter Behavior' name="behavior"> 
                            </div>
                            <div class='input-field col s6'>
                                <label for="intervention"><b>Intervention</b></label>
                                <input type="text" placeholder='Enter Intervention' name='intervention'>
                            </div>
                            <div class='input-field col s6'>
                                <label for="location"><b>Location</b></label>
                                <input type="text" placeholder='Enter Location' name='location'>
                            </div>
                            
                            <button type='submit' class='btn-small blue-grey lighten-1'>Submit</button>
                            <button type='button' class='btn-small cancel blue-grey lighten-1' v-on:click='closeForm()'>Close</button>
                            
                        </form>
                    </div> 
                </div>
            </div>
        </div>
        {% else %}
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <br><br>
              <h1 class="header center blue-grey-text lighten-1-text">Behavior Tracker</h1>
              <div class="row center">
                <h5 class="header col s12 light">We aim to ease and consolidate the process of recording and documenting trouble behaviors with students. Our uncomplicated form and quick process of documenting issues into an easy to read table will facilitate meetings with both parents and administration. </h5>
              </div>
              <div class="row center">
                <a href="{% url 'behavtrackerapp:signup' %}" id="download-button" class="btn-large waves-effect waves-light blue-grey lighten-1 ">Sign up!</a>
              </div>
              <br><br>
            </div>
          </div>        {% endif %}
        <br>
    </main>
    {% include 'behav_tracker_app/_footer.html' %}
</body>
</html>
