{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behavior Tracker</title>
</head>
<body>
    <span>
        <h1>
            <a href="{% url 'behavtrackerapp:index' %}">Behavior Tracker</a>
        </h1>
        <div>
            <a href="{% url 'behavtrackerapp:login' %}">Login</a>
            <a href="{% url 'behavtrackerapp:logout' %}">Logout</a>
            <a href="{% url 'behavtrackerapp:viewstudents' %}" >View Students</a>
        </div>
    </span>
    <h3>Add new student</h3>
    <div id='app'>
        <form action="{% url 'behavtrackerapp:newstudent' %}" method='POST'>
            {% csrf_token %}
            <input type="text" name='name' placeholder='name'>
            <input type="text" name='grade' placeholder='grade'>
            {% comment %} need help {% endcomment %}
            <select v-model='created'>
                <option selected disabled >Select a Teacher</option>
                <option v-for='teacher in teachers' v-bind:value='teacher.id'>
                    [[teacher.name]]
                </option>
            </select>
            <button>Create Student</button>
        </form>
    </div>
</body>
</html>