{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behavior Tracker</title>
    <script src="https://unpkg.com/vue@3"></script>
    {% include 'behav_tracker_app/_styles.html' %}
    <script defer src="{% static 'behav_tracker_app/app.js' %}"></script>


</head>
<body>
    {% include 'behav_tracker_app/_navbar.html' %}

    <input type="hidden" value='{{student_id}}' id='student_id'>
    <div id="app">
        <div>
            <table>
                <tr>
                    <th>Antecedent</th>
                    <th>Behavior</th>
                    <th>created date</th>
                    <th>Location</th>
                    <th>Intervention</th>
                </tr>
                <tr v-for='behavior in behaviors'>
                    <td>[[behavior.antecedent]]</td>
                    <td>[[behavior.behavior]]</td>
                    <td>[[behavior.created_date]]</td>
                    <td>[[behavior.location]]</td>
                    <td>[[behavior.intervention]]</td>
                </tr>
            </table>
        </div>
    </div>
    {% include 'behav_tracker_app/_footer.html' %}

</body>
</html>