{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behavior Tracker</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script defer src="{% static 'behav_tracker_app/app.js' %}"></script>
</head>
<body>
    <span>
        <h1>
            <a href="{% url 'behavtrackerapp:index' %}">Behavior Tracker</a>
        </h1>
        <div>
            <a href="{% url 'behavtrackerapp:login' %}">Login</a>
            <a href="{% url 'behavtrackerapp:logout' %}">Logout</a>
        </div>
    </span>
    {% comment %} link to student id {% endcomment %}
    <div id="app">
        <div v-for='behavior in behaviors' v-bind:value='behavior.id'>
            <li>[[behavior.antecedent]]</li>
        </div>
    </div>
</body>
</html>