{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behavior Tracker</title>
    <script src="https://unpkg.com/vue@3"></script>
    {% include 'behav_tracker_app/_styles.html' %}
    <script defer src="{% static 'behav_tracker_app/app.js' %}"></script>

</head>
<body>
    {% include 'behav_tracker_app/_navbar.html' %}

    <div id='app'>
        <div v-for='student in students' v-bind:value='student.id'>
           <a v-bind:href="'../student_behaviors/'+ student.name">[[student.name]]</a>
        </div>
    </div>
    {% include 'behav_tracker_app/_footer.html' %}

</body>
</html>