{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behavior Tracker</title>
    <script src="https://unpkg.com/vue@3"></script>
    {% include 'behav_tracker_app/_styles.html' %}
    <script defer src="{% static 'behav_tracker_app/app.js' %}"></script>

</head>
<body>
    {% include 'behav_tracker_app/_navbar.html' %}
    <main>
        <div id='app' class='container'>
            <div v-for='student in students' v-bind:value='student.id' class='center'>
                <div class="row center">
                    <div class=" center s12 offset-2 m6">
                        <div class="card small">
                            <div class="card-image">
                                <a v-bind:href="'../student_behaviors/'+ student.name" class='blue-grey-text lighten-1-text'>[[student.name]]</a>
                            </div>        
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'behav_tracker_app/_footer.html' %}
</body>
</html>